const path = require('path');

require('dotenv').config({
    path: path.resolve('')
});

const postgres = require('postgres');
const {Sequelize} = require('sequelize');
const {
    DB_SOURCE_HOST,
    DB_SOURCE_PORT,
    DB_SOURCE_DATABASE,
    DB_SOURCE_USERNAME,
    DB_SOURCE_PASSWORD,
    DB_DIALECT,
    DB_TIMEZONE,
} = process.env;

module.exports = class Connection {
    sourceConnection = new Sequelize(DB_SOURCE_DATABASE, DB_SOURCE_USERNAME, DB_SOURCE_PASSWORD, {
        host    : DB_SOURCE_HOST,
        port    : DB_SOURCE_PORT,
        dialect : DB_DIALECT,
        dialectOptions: {
            useUTC: false
        },
        timezone: DB_TIMEZONE
    })
}